/* Pie de página que aparecerá en cada pantalla indicando el diseñador de la aplicación web*/
.footer-cuadrado{
    height: 40px;
    background-color: #ED1C24;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    color: #F2F2F2;
    margin: 50px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding-left: 20px; /* Se añade un espacio a la derecha para que no esté el texto pegado con el borde*/
}