.navbar-content{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:15px 0;
  width:100%;
  background: rgba(0,0,0,0.5);
  border-radius: 0px 0 40px 40px ;
  position: absolute;
}
/* LOGO */
.logo img{
  height:45px;
  padding-left: 40px;
}
.icon-user img{
  height:45px;
  padding-right: 40px;
}
.nav-links{
  display: flex;
  gap: 60px;
  list-style: none;
  align-items: center;
  color: white;
  padding-right:20px;
  justify-content: center;
}
.nav-links li{
  position: relative;
  cursor: pointer;
}
.dropdown{
  position: absolute;
  top: 25px;
  background: rgba(0,0,0,0.8);
  padding: 5px 20px;
  display: none;
  color: white;
}

.dropdown li{
  padding: 8px 20px;
}
.dropdown li a {
  text-decoration: none;
}
.dropdown:hover{
  background: rgba(255, 255, 255, 0.5);
}
/* MOSTRAR MENU AL HACER HOVER */
.nav-links li:hover .dropdown{
  display: flex;
}
.btn-reservas{
  color: #ED1C24;
}
.btn-reservas:hover{
  color: white;
  background: #ED1C24;
  border: none;
}

/* TABLETS */
@media (max-width: 900px){

  .navbar-content{
    padding:10px 0;
  }

  .nav-links{
    gap:20px;
    font-size:14px;
  }

  .logo img{
    height:25px;
    padding-left: 20px;
  }
  .icon-user img{
    height:35px;
    padding-right: 20px;
  }

}
/* CELULARES */
@media (max-width: 600px){

  .navbar-content{
    padding:10px 0;
  }

  .nav-links{
    gap:20px;
    font-size:14px;
  }

  .logo img{
    height:20px;
    padding-left: 20px;
  }
  .icon-user img{
    height:30px;
    padding-right: 20px;
  }

}


